<!DOCTYPE html>
<html>
    <head>
         <%- include('index') %>
    </head>
    <body class="p-3 mb-2 bg-dark text-light">
        <div>
            <div>

                <% if(error) { %>
                    <div class="errorMessage">
                        <%=error%>
                    </div>
                <% } %>
            </div>
            <div>
                <p class="text-center">Todas las preguntas</p>
            </div>
            <div>
                <% if(quests.length===0) { %>
                    <p>0 Preguntas</p>
                <% } else { %>
                    <% /* AQUI HAY QUE HACER UNA TABLA QUE CARGUE LOS DATOS DEL QUESTS*/ %> 
                <% } %>
                <div>
                    <a class="btn btn-success" href="/index/formQuest">Formular una pregunta</a>
                </div>
            </div>

        </div>
    </body>
</html>


