<!DOCTYPE html>
<html>

<head>
    <%- include('index') %>
</head>

<body class="p-3 mb-2 bg-dark text-light">
    <div>
        <div>
            <p class="text-center">Formular una pregunta</p>
        </div>
        <div class="container">
            <form action="/index/insertQuest" method="POST">
                <div class="form-group">
                    <label for="titulo">Titulo*</label>
                    <input maxlength="200" type="text" placeholder="¿Cuál es tu pregunta sobre programación?" class="form-control" name="title" required>
                </div>
                <div class="form-group">
                    <label for="cuerpo">Cuerpo*</label>
                    <br>Incluye toda la información que alguien necesitaría para responder a tu pregunta</br>
                    <textarea maxlength="2000" class="form-control" style="height: 300px;" name="info" required></textarea>
                </div>
                <div class="form-group">
                    <label for="etiquetas">Etiquetas</label>
                    <br>Añade hasta 5 etiquetas para describir sobre qué trata tu pregunta</br>
                    <input type="text" placeholder="Por ejemplo @node@Express" class="form-control" name="labels">
                </div>
                <div>
                    <% if(error) { %>
                        <div class=text-warning>
                            <%=error%>
                        </div>
                        <% } %>
                </div>
                <br>
                <button type="submit" class="btn btn-primary">Publicar Pregunta</button>
            </form>
        </div>
    </div>
</body>

</html>