a {
    color: white;
  }

.topnav {
    position: relative;
    overflow: hidden;
    min-width: 703px;
}
li{
    list-style:none; 
    font-family: 'Encode Sans', sans-serif;
    font-weight: bold;
    margin-top: 20px;
}
.nav-item.dropdown {
    color: white !important;
    float: left;
    color: #f2f2f2;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px;
}

.topnav a:hover {
    background-color: rgb(25, 99, 25);
    color: black;
}

.topnav a.active {
    background-color: rgb(25, 99, 25);;
    color: white;
}

.topnav-centered img {
    float: none;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.topnav-right {
    float: right;
}
.bb{
    display: flex;
}
.form-control.b{
    width: 300%;
}
.btn.btn-success{
    font-family: 'IBM Plex Mono', monospace;
    font-size: 110%;
    padding: 5%;
}
.imgR{
    border-radius: 30px;
}

#butSearch{
    margin-left: 90% !important;
    padding-top: 10%;
    padding-left: 6%;
    padding-right: 6%;
    padding-bottom: 6%;
}
#butSearch2{
    margin-left: 55% !important;
    padding-top: 10%;
    padding-left: 6%;
    padding-right: 6%;
    padding-bottom: 6%;
}
#f2{
    width: 150% !important;
}
#txt{
    margin-left: 4%;
}
#userName{
    font-family: 'Encode Sans', sans-serif;
    font-weight: bold;
    text-align: center;
}