.float-container {
    padding: 20px;
    margin: auto;
    width: 50%;
}

.float-container.p {
    padding: 20px;
    margin: auto;
    width: 50%;
    text-align: left;
}

.float-child {
    width: 50%;
    float: left;
    padding: 20px;
} 

ul {
    list-style-type: none;
}

li{
    margin-top: 20px;
}

.li-container{
    border-radius: 30px;
    padding-top: 5px;
    padding-left: 20px;
    margin: auto;
    width: 70%;
    background-color: #757575;
    overflow:hidden;
}

.li-child {
    width: 50%;
    float: left;
    padding: 20px;
} 

.li-child.peq{
    width: 30% !important;
    float: left;
    padding: 20px;
    margin: 1%;
    height: 250px;
    border: 2px solid #19772f;
    border-radius: 30px;
} 

.li-child.u{
    padding-left: 200px !important;
}

.li-body{
    max-width: 30em!important;
}

.li-tit{
    font-size:120%;
    color:rgb(1, 255, 1); 
    
}
.li-tit.c{
    text-align: center;
}
.tag-container{
    padding-top: 60px;
}

.tag-child{
    float: left;
    padding-left: 5px;
}

a:hover { 
    text-decoration: none; 
    color: rgb(1, 255, 1);
}
.tgs{
    font-size: 120%;
    font-family: 'Overpass', sans-serif;
    color: rgb(1, 255, 1);
}
.tgs.tB{
    font-size: 90% !important;
}
.tgs.l{
    text-decoration: none;
    color: rgb(1, 255, 1);
}
.tgs.l:hover{
    color: rgb(16, 75, 16);
}

.tag-tit{
    padding: 10px;
    text-align: center;
    font-size:120%;
    color:rgb(1, 255, 1); 
    background-color: #616060;
    border: darkgreen solid 1px;
    border-radius: 30px;
}
.btn.btn-success{
    font-family: 'IBM Plex Mono', monospace;
    font-size: 110%;
    padding: 5%;
}
#pregs {
    padding-top: 20px;
    font-size: 120%;
    font-family: 'Overpass', sans-serif;
}
#title{
    padding-top: 20px;
    padding-right: 20px;
    padding-bottom: 0;
    text-align: center;
    font-size:170%;
    font-family: 'Bebas Neue', cursive;
}

#titlep{
    padding-right: 20px;
    font-size:170%;
}
#f{
    padding-top: 15%;
}
#sep{
    padding-top: 5%;
}
