body {
    font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

a {
    color: #00B7FF;
}

.btn-primary,
.btn-primary:hover,
.btn-primary:active,
.btn-primary:visited,
.btn-primary:focus {
    background: hsl(24, 76, 297) !important;
}

.form-group.c{
    text-align: center;
}

.campos{
    padding-top: 10px;
    font-family: 'Encode Sans', sans-serif;
}

.float-container {
    padding-top: 1%;
    margin: auto;
    width: 50%;
    text-align: center;
}
.float-container.c {
    padding-top: 1%;
    margin-top: -6%;
    text-align: right;
    float:right;
}
.float-child {
    width: 50%;
    float: left;

} 
.btn.btn-success{
    font-family: 'IBM Plex Mono', monospace;
    font-size: 110%;
    padding: 5%;
}
.btn.btn-secondary.c{
    font-family: 'IBM Plex Mono', monospace;
    font-size: 110%;
    padding: 1%;

}